@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import 'tailwindcss';

@theme {
	--color-primary: #3d6abd;
	--color-white: #fefefe;
	--color-black: #171717;
}

* {
	font-family: 'Inter';
}

::selection {
	background: var(--color-primary);
	color: white;
}

@media (max-height: 600px) {
	.h-limit {
		display: none;
	}
}
