@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@theme {
  --color-primary: #F3A718;
  --color-white: #fefefe;
  --color-black: #171717;
}

* {
    font-family: "Averia Serif Libre";
}

body {
    background-image: url('../assets/texture.jpg');
    background-repeat: repeat;
    background-size: auto;
}

::selection {
  background: var(--color-primary);
  color: white;
}
